@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: light;
  src:
    url(../fonts/opensans-light.eot),
    url(../fonts/opensans-light.ttf),
    url(../fonts/opensans-light.woff);
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src:
    url(../fonts/opensans-regular.eot),
    url(../fonts/opensans-regular.ttf),    
    url(../fonts/opensans-regular.woff);
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: semi bold;
  src:
    url(../fonts/opensans-semibold.eot),
    url(../fonts/opensans-semibold.ttf),
    url(../fonts/opensans-semibold.woff);
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src:
    url(../fonts/opensans-bold.eot),
    url(../fonts/opensans-bold.ttf),
    url(../fonts/opensans-bold.woff2);
}


body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}